* {
    box-sizing: border-box;
}

.center {
    max-width: 1350px;
    margin: 0 auto;
}

/* .row {
    display: flex;
    margin-left: -10px;
    margin-right: -10px;
}

.col {
    flex: 1;
    margin: 0 10px;
} */

body {
    font-family:
}